.nav {
  background-color: rgb(128, 96, 96);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.logo {
  color: inherit;
}
.navUl {
  list-style: none;
  display: flex;
  padding: 0 50px;
  gap: 20px;
}

.navLink {
  color: black;
}
